In [2]:
# inspector requies nodejs
import pandas as pd
covidmuerte=pd.read_csv("fallecidos_covid.csv",sep=';',encoding='utf-8')
covidmuerte

/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,FECHA_CORTE,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UUID
0,20220217,20211127,77,MASCULINO,Criterio virolÃ³gico,ANCASH,SANTA,NEPEÃA,021806,25819410.0
1,20220217,20210425,70,MASCULINO,Criterio virolÃ³gico,LIMA,LIMA,VILLA MARIA DEL TRIUNFO,150143,24693187.0
2,20220217,20210428,70,MASCULINO,Criterio virolÃ³gico,LIMA,LIMA,SAN JUAN DE MIRAFLORES,150133,24693271.0
3,20220217,20210430,59,FEMENINO,Criterio virolÃ³gico,AYACUCHO,HUANTA,HUANTA,050401,24735448.0
4,20220217,20210421,55,MASCULINO,Criterio SINADEF,LIMA,LIMA,ATE,150103,24786629.0
...,...,...,...,...,...,...,...,...,...,...
209105,20220217,20200519,69,FEMENINO,Criterio investigaciÃ³n EpidemiolÃ³gica,LORETO,MAYNAS,BELEN,160112,NaN
209106,20220217,20200602,67,MASCULINO,Criterio clÃ­nico,PIURA,TALARA,PARIÃAS,200701,NaN
209107,20220217,20210213,32,MASCULINO,Criterio SINADEF,LIMA,LIMA,SAN JUAN DE MIRAFLORES,150133,NaN
209108,20220217,20201215,59,MASCULINO,Criterio clÃ­nico,LA LIBERTAD,TRUJILLO,TRUJILLO,130101,NaN
209109,20220217,20200527,70,FEMENINO,Criterio clÃ­nico,LIMA,LIMA,SAN JUAN DE MIRAFLORES,150133,NaN

In [3]:
covidmuerte[['DEPARTAMENTO','PROVINCIA','DISTRITO']]=covidmuerte[['DEPARTAMENTO','PROVINCIA','DISTRITO']].apply(lambda x: x.str.replace("Ã\x91","Ñ"))

In [4]:
covidmuerte.FECHA_FALLECIMIENTO=pd.to_datetime(covidmuerte.FECHA_FALLECIMIENTO, format="%Y%m%d")

In [5]:
covidmuerte['periodo']=covidmuerte.FECHA_FALLECIMIENTO.dt.to_period('M')

In [6]:
covidmuerte['casos']=1
covidmuerte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209110 entries, 0 to 209109
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FECHA_CORTE          209110 non-null  int64
 1   FECHA_FALLECIMIENTO  209110 non-null  datetime64[ns]
 2   EDAD_DECLARADA       209110 non-null  int64
 3   SEXO                 209110 non-null  object
 4   CLASIFICACION_DEF    209110 non-null  object
 5   DEPARTAMENTO         209110 non-null  object
 6   PROVINCIA            209105 non-null  object
 7   DISTRITO             209105 non-null  object
 8   UBIGEO               209110 non-null  object
 9   UUID                 205523 non-null  float64
 10  periodo              209110 non-null  period[M]
 11  casos                209110 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(6), period[M](1)
memory usage: 19.1+ MB

In [7]:
GROUPER=['periodo','DEPARTAMENTO','PROVINCIA']

In [8]:
GROUPER

['periodo', 'DEPARTAMENTO', 'PROVINCIA']

In [16]:
GROUPER=['periodo','DEPARTAMENTO','PROVINCIA']
covidCasosMesProvincia=covidmuerte.groupby(GROUPER).agg({'casos':'sum'})
covidCasosMesProvincia.reset_index(inplace=True)
covidCasosMesProvincia

      periodo DEPARTAMENTO              PROVINCIA  casos
0     2020-03       ANCASH              POMABAMBA      1
1     2020-03       ANCASH                  SANTA      4
2     2020-03     AREQUIPA               AREQUIPA      1
3     2020-03     AREQUIPA               CAYLLOMA      1
4     2020-03     AYACUCHO               HUAMANGA      1
...       ...          ...                    ...    ...
3875  2022-02       TUMBES  CONTRALMIRANTE VILLAR      3
3876  2022-02       TUMBES                 TUMBES     24
3877  2022-02       TUMBES              ZARUMILLA      6
3878  2022-02      UCAYALI       CORONEL PORTILLO     14
3879  2022-02      UCAYALI             PADRE ABAD      1

[3880 rows x 4 columns]

In [17]:
covidCasosMesProvincia.casos.describe()

count     3880.000000
mean        53.893041
std        391.765150
min          1.000000
25%          3.000000
50%          7.000000
75%         21.000000
max      10399.000000
Name: casos, dtype: float64

In [18]:
covidCasosMesProvincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3880 entries, 0 to 3879
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periodo       3880 non-null   period[M]
 1   DEPARTAMENTO  3880 non-null   object
 2   PROVINCIA     3880 non-null   object
 3   casos         3880 non-null   int64
dtypes: int64(1), object(2), period[M](1)
memory usage: 121.4+ KB

In [14]:
import dtale

In [19]:
dtale.show(covidCasosMesProvincia)

Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/views.py", line 114, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/views.py", line 3628, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!

2022-02-20 22:54:53,404 - ERROR    - Exception occurred while processing request: It appears there is duplicates in your index, please specify an aggregation!
Traceback (most recent call last):
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/views.py", line 114, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/views.py", line 3628, in get_timeseries_analysis
    data = ts_rpt.run()
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/timeseries_analysis.py", line 48, in run
    return self.report.run(data)
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/timeseries_analysis.py", line 93, in run
    df = build_data(data, self.cfg)
  File "/Users/josemanuelmagallanes/opt/anaconda3/envs/spatial/lib/python3.8/site-packages/dtale/timeseries_analysis.py", line 18, in build_data
    raise ValueError(
ValueError: It appears there is duplicates in your index, please specify an aggregation!